MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_DATABASE=daenggo
MYSQL_USER=daenggo
MYSQL_PASSWORD=change-this-app-password

BACKEND_PORT=8080
FRONTEND_PORT=5173
FRONTEND_PATH=../daenggo-FE
VITE_BOARD_WRITER_ID=1
